// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}
/*1row-80vh-inc/dec based on height
2row-min-content-rows count inc/dec based on size
3row-40vw-inc/dec based on widt
4,5,6row-repeat(3,min-content)-rows count inc/dec based on size
*/
.container {
    display: grid;
    /*grid-template-columns : 8rem repeat(8,minmax(mincontent,14rem));
    it means 1st column(Sidebar) is 8rem and rest 8 are 14rem,14rem is the max and min is content size the column can shrink based on size.eg |Saurabh       |-14rem , |Saurabh|-mincontent

    grid-template-columns : 8rem 1fr repeat(8,minmax(mincontent,14rem)) 1fr;
    Here we added 2 more columns after first and at the end of 1 fractional unit.

    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8,
     [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];

     [sidebar-start][col-end]... are the names of the coloumns which will help us to create the columns of our page
 */
    grid-template-rows: 80vh min-content 40vh repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8,
     [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];

  & > * {
      padding: 40px;
      font-size: 3rem;
  }
}


